configList:
{% for shared_resource in shared_resources %}
  - resourceName: "{{ shared_resource.res_name }}"
    rdmaHcaMax: {{ shared_resource.max_hca | int }}
    devices:
    {% for dev_id in shared_resource.devices %}
      - "{{ dev_id }}"
    {% endfor %}
{% endfor %}
